.container {
    width: 50vw;
    height: 50vb;
    background-color: aqua;
}

.click {
    margin-left: 10%;
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    background-image: url('/static/click!!.png');
}

.click:hover {
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    background-image: url('/static/hover.png');

}