<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/news.css">
</head>
<body style="margin: 0;">
    <div 
    style="background-color: #FFD639;
    width: 100vw; height: 100vh;
    display: flex;
    justify-content: center; 
    ">
    <div class="div0">
        <div class="div1">
            <!-- 필터 입력 구간 3구역 나눠서-->
            <!-- input: 시작 날짜, 종료 날짜, 언론사 이름 -->
            <div>
                <input>
                <button>시작날짜</button>
            </div>
            <div>
                <input>
                <button>종료날짜</button>
            </div>
            <div>
                <input>
                <button>언론사</button>
            </div>
        </div>
        <div class="div2">
            <!-- 뉴스 불러오는 구간 -->
        </div>
    </div>
</body>
</html>